
@{
    ViewData["Title"] = "Home Page";
    var productsList = (List<Products>)ViewBag.productsListPassValue;
}

<div class="container text-center">
    <div class="row">
        @foreach (var product in productsList)
        {
            <div class="col-4" id="eachElement">
                <div class="card ">
                    <p class="visually-hidden" id="itemiddisplay" name="itemiddisplay">@product.itemID</p>
                    @{ string url = @product.itemID + ".png"; }
                    <img src="static/@url" class="card-img-top" height="310" width="550">
                    <div class="card-body">
                        <h4 class="card-title itemnamedisplay" id="itemnamedisplay" name="itemnamedisplay">@product.itemName</h4>
                        <p class="card-text" id="cardTextProduct" align="left" name="cardTextProduct">@product.itemDescription</p>
                        <div class="row align-items-center">
                            <div class="col-auto">
                                @{
                                    for (int i = 0; i < Convert.ToInt32(@product.itemReview); i++)
                                    {
                                        <img src="static/star.png" height="20px" width="20px"></img>
                                    }
                                }
                            </div>
                            <div class="col-auto">
                                <div class="align-items-center itemreviewdisplay">@product.itemReview</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 itemPriceDisplay" align="left">
                                <span>SGD: </span><span class="card-title text-black" align="left" name="itemPriceDisplay">@product.itemPrice</span><span>.00</span>
                            </div>
                            <div class="col-6" align="right" id="addToCartForm">
                                @{ int a = Convert.ToInt32(@product.itemID)-1;}
                                <button type="submit" class="btn btn-primary" id="acctocartdetails" onclick="addTheCart(@a)"> Add to Cart</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>